/* body {
  margin-top: 50px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */



// .home {
//   display: grid;
//   grid-gap: 10px;
//   grid-template-columns: [left] 20vw [center] 50vw [right] 20vw;
//   justify-content: center;
// }

// .home>div {
//   margin-top: 10px;
// }

// /* Logo ======================= */

// .logo {
//   cursor: pointer;
//   background-color: #fff;
//   width: 25px;
//   height: 25px;
//   line-height: 25px;
//   text-align: left;
//   font-weight: bold;
//   color: #4267b2;
//   border-radius: 7px 7px;
//   padding: 2px;
// }

// .logo a {
//   color: #555;
//   text-decoration: none;
// }

// .logo .logo-animate {
//   font-weight: 400;
//   opacity: 0;
// }

// .user-nav-widget {
//   display: flex;
//   align-items: center;

//   img {
//     height: $navbar-height - 15;
//     width: $navbar-height - 15;
//   }

//   & span,
//   img,
//   i {
//     padding: 0 5px;
//   }

//   & i {
//     cursor: pointer;
//   }
// }

/* .commentBox {
  padding: 1em;
  width: 800px;
  margin: 0 auto;
  border: 4px darkkhaki double;
}

.post {
  border-bottom: 2px solid darkkhaki;
  padding-bottom: 1em;
}

.postAuthor {
  margin-top: 0;
}

.createComment {
  padding-top: 1em;
  border-top: 2px solid darkkhaki;
  margin-top: 1em;
} */
